@charset "UTF-8";
/* line 5, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* $susy: (
  flow: ltr, // ltr | rtl
  output: float, // float | isolate
  math: fluid, // fluid | static (requires column-width)
  column-width: 80px, // false | value
  container: auto, // length or % | auto
  container-position: center, // left | center | right | <length> [*2] (grid padding)
  last-flow: to,
  columns: 12,
  gutters: 1/4,
  gutter-position: after, // before | after | split | inside | inside-static (requires column-width)
  global-box-sizing: content-box, // content-box | border-box (affects inside/inside-static)
  debug: (
    image: hide,
    color: rgba(#66f, .25),
    output: background, // background | overlay
    toggle: top right,
  ),
  use-custom: (
    background-image: true, // look for background-image mixin
    background-options: false, // look for background-size, -origin and -clip and other compass/bourbon mixins
    box-sizing: true, // look for custom bix sizing mixin
    clearfix: false, // true = look for internal clearfix before using micro clearfix
    rem: true, // look for rem mixin
  )
); */
/* line 1, ../scss/_general.scss */
html {
  font-size: 140%;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* line 9, ../scss/_general.scss */
body {
  color: #444444;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  height: 100%;
  line-height: 1.5;
  margin: 0;
  width: 100%;
  background: #FFFFFF;
}

/* line 20, ../scss/_general.scss */
h1 {
  margin-top: 5%;
  margin-bottom: 5%;
}

/* line 24, ../scss/_general.scss */
p {
  display: block;
  margin-top: 3%;
  margin-bottom: 2%;
}

/* line 29, ../scss/_general.scss */
a {
  color: #5CB2A0;
  text-decoration: none;
}

/* line 33, ../scss/_general.scss */
a:hover {
  text-decoration: underline;
}

@font-face {
  font-family: 'blackjackregular';
  src: url("../typography/black_jack-webfont.eot");
  src: url("../typography/black_jack-webfont.eot?#iefix") format("embedded-opentype"), url("../typography/black_jack-webfont.woff") format("woff"), url("../typography/black_jack-webfont.ttf") format("truetype"), url("../typography/black_jack-webfont.svg#blackjackregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 12, ../scss/_typography.scss */
h1 {
  color: inherit;
  font-family: 'blackjackregular', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2rem;
  font-weight: 200;
  line-height: 1.25;
}

@font-face {
  font-family: 'eoghan';
  src: url("../typography/eoghan.eot?12342072");
  src: url("../typography/eoghan.eot?12342072#iefix") format("embedded-opentype"), url("../typography/eoghan.woff?12342072") format("woff"), url("../typography/eoghan.ttf?12342072") format("truetype"), url("../typography/eoghan.svg?12342072#eoghan") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 11, ../scss/_icons.scss */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "eoghan";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  font-size: 200%;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

/* line 42, ../scss/_icons.scss */
.icon-twitter-bird:before {
  content: '\e800';
}

/* '' */
/* line 43, ../scss/_icons.scss */
.icon-linkedin-rect:before {
  content: '\e801';
}

/* '' */
/* line 44, ../scss/_icons.scss */
.icon-github:before {
  content: '\e802';
}

/* '' */
/* line 45, ../scss/_icons.scss */
.icon-mail:before {
  content: '\e803';
}

/* '' */
/* line 46, ../scss/_icons.scss */
.icon-twitter-bird:hover {
  color: #00aced;
}

/* line 47, ../scss/_icons.scss */
.icon-linkedin-rect:hover {
  color: #007bb6;
}

/* line 48, ../scss/_icons.scss */
.icon-github:hover {
  color: #000;
}

/* line 49, ../scss/_icons.scss */
.icon-mail:hover {
  color: purple;
}

/* line 11, ../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.2/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, ../scss/blog.scss */
header {
  text-align: center;
  background: rgba(92, 178, 160, 0.2);
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}
/* line 15, ../scss/blog.scss */
header h1 {
  padding: 1rem;
  margin: 0;
}
/* line 19, ../scss/blog.scss */
header h2 {
  margin: 0;
  font-size: 100%;
  font-weight: 200;
}
/* line 24, ../scss/blog.scss */
header a {
  color: inherit;
}
/* line 26, ../scss/blog.scss */
header a:hover {
  color: purple;
  text-decoration: none;
}

/* line 32, ../scss/blog.scss */
main {
  width: 100%;
  float: right;
  margin-right: 0;
  display: table;
  height: 100%;
}

/* line 37, ../scss/blog.scss */
nav {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  text-align: center;
}
/* line 49, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/typography/lists/_inline-block-list.scss */
nav li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  white-space: nowrap;
}
/* line 40, ../scss/blog.scss */
nav ul {
  padding: 0;
  margin: 2% 0;
}

/* line 45, ../scss/blog.scss */
article {
  width: 100%;
  float: right;
  margin-right: 0;
  margin: 2rem 1rem;
  display: table-cell;
  margin: 0;
  padding: 0 10%;
}
/* line 51, ../scss/blog.scss */
article header {
  background: inherit;
  padding: 0 0 2% 0;
  border-bottom: 1px solid rgba(92, 178, 160, 0.2);
}
/* line 55, ../scss/blog.scss */
article header h1 {
  padding: 0 0 0 0;
  font-family: 'Raleway',"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 160%;
}
/* line 60, ../scss/blog.scss */
article header .entry-meta {
  margin: 0;
  font-family: 'Raleway',"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 80%;
}

/* line 67, ../scss/blog.scss */
p {
  font-size: 80%;
}

/* line 70, ../scss/blog.scss */
aside {
  width: 100%;
  float: right;
  margin-right: 0;
  margin: 2rem 1rem;
  display: table-cell;
  margin: 0;
  padding: 0 10%;
}
