@import "compass/reset";
@import "breakpoint";
@import "compass";
@import "settings";
@import "general";
@import "typography";
@import "icons";
@include border-box-sizing;

header {
    text-align: center;
    background:  rgba(92, 178, 160, 0.2);
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    h1 {
        padding: 1rem;
        margin: 0;
    }
    h2 {
        margin: 0;
        font-size: 100%;
        font-weight: 200;
    }
    a {
        color: inherit;
        &:hover {
            color: purple;
            text-decoration: none;
        }
    }
}
main {
	@include span(24 of 24 last);
    display: table;
    height: 100%;
}
nav {
@include inline-block-list;
    text-align: center;
    ul {
        padding: 0;
        margin: 2% 0;
    }
}
article {
    @include span(24 of 24 last);
    margin: 2rem 1rem;
    display: table-cell;
    margin: 0;
    padding: 0 10%;
    header {
        background: inherit;
        padding: 0 0 2% 0;
        border-bottom: 1px solid rgba(92, 178, 160, 0.2);
        h1 {
            padding: 0 0 0 0;
            font-family: 'Raleway',"Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 160%;
        }
        .entry-meta{
            margin: 0;
            font-family: 'Raleway',"Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 80%;
        }
    }
}
p {
    font-size: 80%;
}
aside {
    @include span(24 of 24 last);
    margin: 2rem 1rem;
    display: table-cell;
    margin: 0;
    padding: 0 10%;
}